@import "reset.css";
@import "common.css";
body {
    font: 16px "PingFang-SC-Medium";
    color: #333;
}

#fw_web {
    min-height: 100vh;
    .top-head {
        .fw-banner {
            position: relative;
            overflow: hidden;
            min-width: 1200px;
            height: 590px;
            .s-con-banner {
                .swiper-wrapper {
                    position: relative;
                    line-height: 590px;
                    text-align: center;
                }
                .banner-img {
                    height: 590px;
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                }
                .swiper-pagination-bullet {
                    width: 80px;
                    height: 6px;
                    background-color: #ffffff;
                    border-radius: 3px;
                    opacity: 0.38;
                }
                .swiper-pagination-bullet-active {
                    width: 80px;
                    height: 6px;
                    background-color: #f7faff;
                    border-radius: 3px;
                    opacity: 1;
                }
            }
        }
    }
    .main-content {
        .con-part-one {
            height: 640px;
            padding-top: 107px;
            box-sizing: border-box;
            background-color: #fff;
            .part-box {
                width: 1200px;
                margin: 0 auto;
            }
            .con-main {
                display: inline-block;
                width: 100%;
                margin-top: 50px;
                text-align: center;
                font-size: 0;
                ul {
                    margin-top: 40px;
                }
            }
            .one-des {
                font-size: 18px;
                text-align: left;
                text-indent: 2em;
                color: #666;
            }
            .con-main {
                ul {
                    font-size: 0;
                }
                .one-item {
                    display: inline-block;
                    margin: 0 15px;
                    cursor: pointer;
                }
                .one-link {
                    img {
                        display: block;
                        width: 100px;
                        height: auto;
                        margin: 0 auto;
                        transition: all 300ms linear;
                    }
                    .one-img:hover {
                        margin-top: -15px;
                        padding-bottom: 15px;
                    }
                    dt {
                        margin-top: 20px;
                        font-size: 28px;
                    }
                    dd {
                        width: 300px;
                        height: 40px;
                        margin-top: 20px;
                        line-height: 1.3;
                        font-size: 18px;
                        color: #666;
                    }
                }
            }
        }
        .con-part-two {
            padding-top: 75px;
            padding-bottom: 60px;
            box-sizing: border-box;
            background-color: #f7f7f7;
            .part-box {
                width: 1200px;
                margin: 0 auto;
            }
            .con-main {
                display: inline-block;
                width: 100%;
                margin-top: 50px;
                text-align: center;
            }
            ul {
                position: relative;
                overflow: hidden;
                display: inline-block;
                text-align: center;
                width: 100%;
                margin: 0 auto;
                font-size: 0;
            }
            .two-item {
                display: inline-block;
                width: 360px;
                height: 360px;
                vertical-align: middle;
                padding-top: 56px;
                box-sizing: border-box;
                margin: 0 15px 60px 0;
                transition: all 400ms linear;
                background-color: #fff;
                cursor: pointer;
            }
            .two-item:nth-of-type(1) {
                border-top: 3px solid #43c5b9;
            }
            .two-item:nth-of-type(2) {
                border-top: 3px solid #efce4a;
            }
            .two-item:nth-of-type(3) {
                border-top: 3px solid #bf4e90;
            }
            .two-item:nth-of-type(4) {
                border-top: 3px solid #d75a4a;
            }
            .two-item:nth-of-type(5) {
                border-top: 3px solid #27a6eb;
            }
            .two-item:nth-of-type(6) {
                border-top: 3px solid #8674d3;
            }
            .two-item:hover {
                border-top: 16px solid rgb(84, 141, 255);
            }
            .two-link {
                text-align: center;
                .two-img {
                    display: inline-block;
                    width: 64px;
                    height: 64px;
                    transition: all 1000ms linear;
                }
                dt {
                    width: 216px;
                    margin: 0 auto;
                    font-size: 24px;
                    color: #333;
                }
                dt:nth-of-type(1) {
                    margin-top: 30px;
                }
                dd {
                    width: 200px;
                    margin: 30px auto 0;
                    font-size: 18px;
                    color: #666;
                }
            }
        }
        .con-part-thr {
            height: auto;
            padding-top: 90px;
            padding-bottom: 120px;
            box-sizing: border-box;
            background-color: #fff;
            .part-box {
                width: 1200px;
                margin: 0 auto;
                .title-des {
                    display: inline-block;
                    width: 100%;
                    text-indent: 2em;
                    line-height: 1.5;
                    margin-top: 18px;
                    text-align: left;
                    font-size: 18px;
                    color: #666;
                }
            }
            .con-main {
                display: inline-block;
                width: 100%;
                margin-top: 60px;
                text-align: center;
            }
            ul {
                position: relative;
                overflow: hidden;
                display: inline-block;
                text-align: center;
                width: 100%;
                margin: 0 auto;
                font-size: 0;
            }
            .thr-item {
                overflow: hidden;
                box-shadow: 0px 1px 7px 0px rgba(34, 24, 21, 0.2);
            }
            .thr-link {
                display: inline-block;
                width: 100%;
            }
            .thr-left {
                position: relative;
                float: left;
                display: inline-block;
                width: 550px;
                height: 300px;
                vertical-align: middle;
                background-color: #f1f1f1;
                .thr-img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                }
            }
            .thr-right {
                vertical-align: middle;
                display: inline-block;
                .r-title {
                    display: inline-block;
                    font-size: 28px;
                    color: #333;
                }
                .r-intro {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 1.4;
                    text-align: left;
                    color: #666;
                }
                .link-text {
                    display: inline-block;
                }
            }
        }
    }
}